	h1,h2,h3{
			color:red;
			background-color:orange;
			text-align:center;
		}
		
		.myp1{
			color:pink;
			background-color:red;
		}
		
		.textcenter{
			text-align:center;
		}
		.textunder{
			text-decoration:underline;
		}
		
		#myp2{
			color:pink;
			background-color:blue;
			text-align:right;
		}
		
		
		h4.test{
			text-transform:uppercase;
		}
		
		h5#demo{
			text-transform:lowercase;
		}
		